<template>
	<div>
		<div class="p-5">
			<div class="flex justify-between items-center">
				<span class="font-bold left-0 hidden sm:block md:block lg:block xl:block">
					{{ total || products.length }} produtos encontrados
				</span>
				<div class="">
					<span v-for="(error, index) in errors" :key="`error-${index}`">{{ error.message }}</span>
					<br />
				</div>
				<form @submit.prevent="search">
					<div class="flex justify-center md:justify-end lg:justify-end xl:justify-end">
						<div class="relative">
							<!-- display: block -->
							<span
								class="text-pink p-5 cursor-pointer hover:underline"
								@click="
									query = '';
									$refs.search.focus();
								"
								v-if="query"
							>
								limpar filtro
							</span>
							<input
								name="search"
								ref="search"
								v-model="query"
								type="text"
								maxlength="140"
								class="bg-gray-200 pr-12 py-2 pl-3 pr-43 font-normal rounded border border-gray-300 outline-none focus:shadow-sm"
								placeholder="buscar"
							/>
							<svg
								@click="$refs.submit.click()"
								class="cursor-pointer absolute top-2 right-0 h-6 bg-grey-300 rounded rounded-r-none px-3"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 24 24"
							>
								<path
									d="M23.28,19.86l-6.45-6.45a9,9,0,1,0-3.43,3.43l6.44,6.44a2.42,2.42,0,1,0,3.43-3.42ZM1,9a8,8,0,1,1,8,8A8,8,0,0,1,1,9ZM22.57,22.58a1.45,1.45,0,0,1-2,0l-6.29-6.29a9.06,9.06,0,0,0,2-2l6.3,6.3a1.41,1.41,0,0,1,0,2Z"
								></path>
							</svg>
						</div>
					</div>
					<button type="submit" ref="submit" class="hidden"></button>
				</form>
			</div>
		</div>

		<div class="">
			<div class="flex flex-wrap justify-center">
				<product-card
					:imageId="product.photo.image_public_id"
					:title="product.title.name"
					:path="product.path"
					:property="product"
					v-for="product in products"
					:key="product.id"
				/>
			</div>

			<div
				class="flex flex-col items-center justify-center"
				v-if="hasLoaded && products.length == 0"
			>
				<h1 class="text-3xl font-bold text-justify">ué, não encontramos nadinha.</h1>
				<h2 class="text-lg text-gray-800">que tal recomeçar do começo?</h2>
				<div class="p-10">
					<button
						@click="
							query = '';
							$refs.search.focus();
						"
						class="font-bold text-sm rounded-sm bg-pink-solid text-white p-3 w-32 outline-none hover:opacity-80"
					>
						limpar busca
					</button>
				</div>
				<img src="@/assets/blank-slate.png" />
			</div>

			<div class="w-full flex justify-center mx-auto pt-10">
				<div class="flex flex-wrap" v-if="hasLoaded && products.length >= this.per_page">
					<div class="text-pink justify-start">
						<button
							:style="{ visibility: !onFirstPage ? 'visible' : 'hidden' }"
							class="bg-pink hover:text-white bg-transparent font-semibold px-4 border border-gray-300 hover:border-transparent rounded mr-5 focus:outline-none inline-flex items-center"
							@click="
								page--;
								search(false);
							"
						>
							<svg
								class="w-6 m-3 font-semibold"
								viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g fill="none" fill-rule="evenodd">
									<path
										d="m22.85 11.147l-7-7c-.196-.196-.514-.196-.71 0-.196.196-.196.514 0 .71l6.15 6.14h-19.79c-.276 0-.5.224-.5.5 0 .276.224.5.5.5h19.79l-6.15 6.15c-.196.196-.196.514 0 .71.196.196.514.196.71 0l7-7c.095-.094.148-.222.148-.355 0-.133-.053-.261-.148-.355"
										fill="currentColor"
										fill-rule="nonzero"
										transform="matrix(-1 0 0 1 23.998 0)"
									></path>
								</g>
							</svg>
							<span>Anterior</span>
						</button>
					</div>
					<div class="text-pink justify-end">
						<button
							class="bg-transparent hover:text-white bg-pink font-semibold px-4 border border-gray-300 hover:border-transparent rounded focus:outline-none inline-flex items-center"
							@click="
								page++;
								search();
							"
						>
							<span>Próxima</span>
							<svg
								class="w-6 m-3 font-semibold"
								viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
							>
								<g fill="none" fill-rule="evenodd">
									<path
										d="m22.85 11.147l-7-7c-.196-.196-.514-.196-.71 0-.196.196-.196.514 0 .71l6.15 6.14h-19.79c-.276 0-.5.224-.5.5 0 .276.224.5.5.5h19.79l-6.15 6.15c-.196.196-.196.514 0 .71.196.196.514.196.71 0l7-7c.095-.094.148-.222.148-.355 0-.133-.053-.261-.148-.355"
										fill="currentColor"
										fill-rule="nonzero"
									></path>
								</g>
							</svg>
						</button>
					</div>
				</div>
			</div>
			<div class="flex justify-end opacity-50 hover:opacity-100">
				<span class="text-gray-400 text-xs tracking-widest">
					develped by
					<a class="cursor-pointer hover:underline" href="https://camilarody.me/" target="_blank">
						Camila Rody
					</a>
					8/12/20
				</span>
			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
import productCard from '../components/product-card.vue';

export default {
	components: {
		productCard,
	},
	data() {
		return {
			errors: [],
			edges: [],
			query: '',
			per_page: 30,
			total: 0,
			page: 1,
			hasLoaded: false,
		};
	},
	computed: {
		onFirstPage() {
			return this.page == 1;
		},
		firstCursor() {
			return this.products.length && this.products[0].cursor;
		},
		lastCursor() {
			return this.products.length && this.products[this.per_page - 1].cursor;
		},
		products() {
			return this.edges.map(edge => ({ ...edge.node, cursor: edge.cursor }));
		},
	},
	methods: {
		async search(goNext = true) {
			try {
				const response = await axios.post('https://enjusearch.enjoei.com.br/graphql-search', {
					query: `query searchProducts($term: String!, $first: Int, $after: String, ) {
                          search(products: {
                            term: $term,
                          }) {
                            products(first: $first, after: $after) {
                              total
                              edges {
                                cursor
                                node {
                                  id
                                  path
                                  photo {
                                    image_public_id
                                  }
                                  title {
                                    name
                                  }
                                  brand {
                                    displayable_name
                                  }
                                  price {
                                    original
                                    current
                                  }
                                }
                              }
                            }
                          }
                        }`,
					variables: {
						term: this.query,
						first: this.per_page,
						after: (goNext ? this.lastCursor : this.firstCursor) || '',
					},
				});

				if (response.data.errors) {
					this.errors = response.data.errors;
				}
				// retriving component data from response
				this.edges = response.data.data.search.products.edges;
				this.total = response.data.data.search.products.total;
				this.hasLoaded = true;
			} catch (error) {
				console.log(error);
			}
		},
	},
	created() {
		this.search();
	},
};
</script>
<style>
.text-pink {
	color: #f05b78;
}

.bg-pink:hover {
	background-color: #f05b78;
}

.bg-pink-solid {
	background-color: #f05b78;
}
</style>
