<template>
	<div class="py-5">
		<div class="flex justify-between items-center">
			<span class="font-bold left-0">125 resultados encontrados</span>
			<div class="flex justify-end">
				<div class="relative">
					<span class="text-pink-600 p-5 cursor-pointer hover:underline" @click="">
						Limpar filtro
					</span>
					<input
						name="search"
						class="bg-gray-200 py-2 px-3 font-normal rounded border border-gray-300 outline-none focus:shadow-sm"
						type="name"
					/>
					<img
						src="@/assets/search-icon.svg"
						class="cursor-pointer absolute top-2 right-0 h-6 bg-grey-300 rounded rounded-r-none px-3"
					/>
				</div>
			</div>
		</div>
	</div>
</template>
