<template>
	<div
		class="flex flex-col w-1/2 lg:w-1/3 xl:w-1/5 border rounded-lg overflow-hidden transition duration-1000"
	>
		<a :href="href" target="_blank">
			<div class="relative bg-white rounded-sm overflow-hidden mx-2 my-2">
				<figure class="keep-ratio-while-loading bg-gray-300">
					<img class="object-cover min-w-full" :src="imageUrl" />
				</figure>

				<div
					class="absolute bg-pink top-1 right-1 px-1 rounded-sm font-semibold uppercase"
					v-if="hasDiscount"
				>
					<span class="text-white text-xs leading-normal tracking-normal">
						{{ Math.floor(100 - (property.price.current * 100) / property.price.original) }}% off
					</span>
				</div>

				<div class="absolute bg-white bottom-1 ml-1 px-1 rounded-sm">
					<div class="leading-normal tracking-normal text-sm">
						<span :class="{ 'text-pink': hasDiscount }" class="text-black mr-2">
							{{ (hasDiscount ? property.price.current : property.price.original) | toCurrency }}
						</span>
						<span :class="{ hidden: !hasDiscount }" class="text-gray-500 line-through">
							{{ property.price.original | toCurrency }}
						</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</template>

<script>
import { getImageUrl, IMAGE_PRESETS } from '@/tools/get-image-url';

export default {
	props: {
		imageId: {
			type: String,
			required: true,
		},
		title: {
			type: String,
			required: true,
		},
		path: {
			type: String,
			required: true,
		},
		property: {
			type: Object,
			required: true,
		},
	},
	data() {
		return {
			imageUrl: getImageUrl(this.imageId, IMAGE_PRESETS.product.card),
		};
	},
	methods: {},
	computed: {
		hasDiscount() {
			return this.property.price.original - this.property.price.current > 0;
		},
		href() {
			return `https://www.enjoei.com.br/p/${this.path}`;
		},
	},
};
</script>

<style scoped lang="scss">
@mixin aspect-ratio($width, $height) {
	position: relative;
	padding-bottom: ($height / $width) * 100%;
	img,
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.keep-ratio-while-loading {
	@include aspect-ratio(240, 240);
}

.text-pink {
	color: #f05b78;
}

.bg-pink {
	background-color: #f05b78;
}
</style>
